In [1]:
import pandas as pd
df = pd.read_csv("C:/Personal/Susi/Barcelona_Activa/Project/Dataset/ai_adoption_dataset.csv")

In [3]:
df

,country,industry,ai_tool,adoption_rate,daily_active_users,year,user_feedback,age_group,company_size
0,USA,Technology,ChatGPT,40.45,2461,2023,YyvLXOFyevRMSvJtkXodLvgejiqQNvSOZfeeJASDOVTxwm...,35-44,Startup
1,France,Manufacturing,Midjourney,35.72,8496,2024,AdFVhenjthYSKJNzxzfaGQk wLnjRCgrHTyfXQEFjFJCMO...,18-24,Enterprise
2,Australia,Transportation,ChatGPT,13.47,8641,2024,zgNPmXBICRNbpjpTqIUWmMTeTYsInDNtAmzuxpDvcUZEAi...,45-54,Startup
3,UK,Manufacturing,ChatGPT,48.46,3488,2023,LxeKzQFbPvhxXUSgPVlLLJ pUFaicjCgiMtAmsTjovkrdE...,45-54,Enterprise
4,UK,Agriculture,Stable Diffusion,34.06,1124,2024,IOQtQoSKdSmiXRsUKpjXjXZgQohymFkVUvOASXlEnVsIOS...,45-54,SME
...,...,...,...,...,...,...,...,...,...
144995,Australia,Agriculture,Midjourney,86.93,7921,2023,PxWkyTVwSNPoTXjsKzjbAFEfyJ MdgY CXjvSrkkHOTGcb...,18-24,SME
144996,Germany,Education,Midjourney,51.99,6301,2024,PtOmfGyWyZueDERRioCvbNgXomcpNNLFUjRuMEqeMrqR L...,45-54,SME
144997,USA,Finance,Stable Diffusion,47.35,4726,2023,VQuOdOKjRhchmEFrzvGlqsGOc fbTXzuzQzswt pZTCmhx...,45-54,Startup
144998,USA,Retail,ChatGPT,31.87,2481,2024,IRFOudTsoPrlrKypvToOx llYkLoLqrw EMHOtyAKmqXq...,25-34,Enterprise
144999,Canada,Technology,Claude,96.84,6479,2024,pwVBio hjlquPxOkabYZsvNwXFWresQdMGmeqmBicAbHzo...,35-44,Enterprise

In [5]:
df1 =df.copy()

In [7]:
df1['country'].unique()

array(['USA', 'France', 'Australia', 'UK', 'Brazil', 'China', 'Canada',
       'South Korea', 'India', 'Germany'], dtype=object)

In [9]:
import pandas as pd
df2 = pd.read_csv("C:/Personal/Susi/Barcelona_Activa/Project/Dataset/GDP_country.csv",skiprows=4)

In [11]:
df2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.420993e+10,2.496326e+10,2.707802e+10,3.177483e+10,3.028492e+10,3.381219e+10,...,8.289612e+11,9.730251e+11,1.012291e+12,1.009747e+12,9.334072e+11,1.085605e+12,1.191639e+12,1.133818e+12,1.205974e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.715223e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190511e+10,1.270803e+10,1.363092e+10,1.446926e+10,1.580394e+10,1.692124e+10,...,7.000282e+11,6.940513e+11,7.778404e+11,8.332889e+11,7.972952e+11,8.581145e+11,8.936399e+11,8.147285e+11,6.700257e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.487516e+10,8.039694e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10,1.114860e+10,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.131783e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.379747e+11,4.208869e+11,4.069200e+11,3.806993e+11,4.002607e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,...,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10,2.632578e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,2.054876e+10,5.107473e+10,3.415606e+10,2.571566e+10,2.686856e+10,2.724051e+10,3.278966e+10,3.523137e+10,4.418770e+10,NaN

In [13]:
df3= df2.copy()

In [15]:
df3['Country Name'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives',
       'Middle East, North Africa, Afghanistan & Pakistan', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East, North Africa, Afghanistan & Pakistan (excluding high income)',
       'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique',
       'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'North America',
       'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand',
       'OECD members', 'Oman', 'Other small states', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland',
       'Pre-demographic dividend', 'Puerto Rico (US)',
       "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia, Fed. Rep.',
       'Serbia', 'Sub-Saharan Africa (excluding high income)',
       'South Sudan', 'Sub-Saharan Africa', 'Small states',
       'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia',
       'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste',
       'Middle East, North Africa, Afghanistan & Pakistan (IDA & IBRD)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Viet Nam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 70 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            151 non-null    float64
 5   1961            154 non-null    float64
 6   1962            156 non-null    float64
 7   1963            156 non-null    float64
 8   1964            156 non-null    float64
 9   1965            162 non-null    float64
 10  1966            163 non-null    float64
 11  1967            167 non-null    float64
 12  1968            168 non-null    float64
 13  1969            168 non-null    float64
 14  1970            190 non-null    float64
 15  1971            191 non-null    float64
 16  1972            191 non-null    float64
 17  1973            191 non-null    float64
 18  1974            191 non-null    float64
 19  1975            195 non-null    float64
 20  1976            195 non-null    float64
 21  1977            198 non-null    float64
 22  1978            197 non-null    float64
 23  1979            198 non-null    float64
 24  1980            208 non-null    float64
 25  1981            208 non-null    float64
 26  1982            209 non-null    float64
 27  1983            209 non-null    float64
 28  1984            211 non-null    float64
 29  1985            213 non-null    float64
 30  1986            213 non-null    float64
 31  1987            220 non-null    float64
 32  1988            223 non-null    float64
 33  1989            223 non-null    float64
 34  1990            240 non-null    float64
 35  1991            241 non-null    float64
 36  1992            242 non-null    float64
 37  1993            243 non-null    float64
 38  1994            244 non-null    float64
 39  1995            247 non-null    float64
 40  1996            247 non-null    float64
 41  1997            249 non-null    float64
 42  1998            250 non-null    float64
 43  1999            250 non-null    float64
 44  2000            252 non-null    float64
 45  2001            253 non-null    float64
 46  2002            257 non-null    float64
 47  2003            257 non-null    float64
 48  2004            257 non-null    float64
 49  2005            257 non-null    float64
 50  2006            258 non-null    float64
 51  2007            258 non-null    float64
 52  2008            259 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            262 non-null    float64
 56  2012            260 non-null    float64
 57  2013            260 non-null    float64
 58  2014            261 non-null    float64
 59  2015            259 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            258 non-null    float64
 64  2020            257 non-null    float64
 65  2021            257 non-null    float64
 66  2022            256 non-null    float64
 67  2023            248 non-null    float64
 68  2024            231 non-null    float64
 69  Unnamed: 69     0 non-null      float64
dtypes: float64(66), object(4)
memory usage: 145.6+ KB

In [19]:
country_mapping = {
    'United States':'USA',
    'France':'France',
    'Australia':'Australia',
      'Brazil'  :'Brazil',
       'China'  :'China',
      'Canada' :'Canada',
      'Korea, Rep.'  :'South Korea',
      'India'   :'India',
       'Germany' :'Germany', "United Kingdom":"UK",
}

In [23]:
df3['Country Name']=df3['Country Name'].replace(country_mapping)

In [25]:
df3['Country Name'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'UK', 'Georgia', 'Ghana',
       'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'South Korea', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives',
       'Middle East, North Africa, Afghanistan & Pakistan', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East, North Africa, Afghanistan & Pakistan (excluding high income)',
       'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique',
       'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'North America',
       'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand',
       'OECD members', 'Oman', 'Other small states', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland',
       'Pre-demographic dividend', 'Puerto Rico (US)',
       "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia, Fed. Rep.',
       'Serbia', 'Sub-Saharan Africa (excluding high income)',
       'South Sudan', 'Sub-Saharan Africa', 'Small states',
       'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia',
       'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste',
       'Middle East, North Africa, Afghanistan & Pakistan (IDA & IBRD)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'USA', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Viet Nam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [27]:
selected_df3 = df3[['Country Name','Indicator Name','2023','2024']]

In [29]:
selected_df3

,Country Name,Indicator Name,2023,2024
0,Aruba,GDP (current US$),3.648573e+09,NaN
1,Africa Eastern and Southern,GDP (current US$),1.133818e+12,1.205974e+12
2,Afghanistan,GDP (current US$),1.715223e+10,NaN
3,Africa Western and Central,GDP (current US$),8.147285e+11,6.700257e+11
4,Angola,GDP (current US$),8.487516e+10,8.039694e+10
...,...,...,...,...
261,Kosovo,GDP (current US$),1.046822e+10,1.114860e+10
262,"Yemen, Rep.",GDP (current US$),NaN,NaN
263,South Africa,GDP (current US$),3.806993e+11,4.002607e+11
264,Zambia,GDP (current US$),2.757796e+10,2.632578e+10
265,Zimbabwe,GDP (current US$),3.523137e+10,4.418770e+10

In [31]:
gdp_long = selected_df3.melt(
    id_vars='Country Name',
    value_vars=['2023', '2024'],
    var_name='year',
    value_name='GDP'
)

In [33]:
gdp_long['year'] = gdp_long['year'].astype(int)

In [35]:
gdp_long.rename(columns={'Country Name': 'country'}, inplace=True)

In [37]:
gdp_long

                         country  year           GDP
0                          Aruba  2023  3.648573e+09
1    Africa Eastern and Southern  2023  1.133818e+12
2                    Afghanistan  2023  1.715223e+10
3     Africa Western and Central  2023  8.147285e+11
4                         Angola  2023  8.487516e+10
..                           ...   ...           ...
527                       Kosovo  2024  1.114860e+10
528                  Yemen, Rep.  2024           NaN
529                 South Africa  2024  4.002607e+11
530                       Zambia  2024  2.632578e+10
531                     Zimbabwe  2024  4.418770e+10

[532 rows x 3 columns]

In [41]:
gdp_long.isnull().sum().sum()

53

In [43]:
gdp_long[gdp_long['GDP'].isnull()]

                       country  year  GDP
11              American Samoa  2023  NaN
50                        Cuba  2023  NaN
69                     Eritrea  2023  NaN
72                    Ethiopia  2023  NaN
84                   Gibraltar  2023  NaN
93                        Guam  2023  NaN
108                Isle of Man  2023  NaN
110             Not classified  2023  NaN
147   St. Martin (French part)  2023  NaN
164   Northern Mariana Islands  2023  NaN
172              New Caledonia  2023  NaN
193  Korea, Dem. People's Rep.  2023  NaN
212                 San Marino  2023  NaN
216                South Sudan  2023  NaN
254              Venezuela, RB  2023  NaN
255     British Virgin Islands  2023  NaN
256      Virgin Islands (U.S.)  2023  NaN
262                Yemen, Rep.  2023  NaN
266                      Aruba  2024  NaN
268                Afghanistan  2024  NaN
277             American Samoa  2024  NaN
298                     Bhutan  2024  NaN
304            Channel Islands  2024  NaN
316                       Cuba  2024  NaN
317                    Curacao  2024  NaN
318             Cayman Islands  2024  NaN
335                    Eritrea  2024  NaN
338                   Ethiopia  2024  NaN
344              Faroe Islands  2024  NaN
350                  Gibraltar  2024  NaN
357                  Greenland  2024  NaN
359                       Guam  2024  NaN
374                Isle of Man  2024  NaN
376             Not classified  2024  NaN
392                South Korea  2024  NaN
396                    Lebanon  2024  NaN
403              Liechtenstein  2024  NaN
413   St. Martin (French part)  2024  NaN
415                     Monaco  2024  NaN
430   Northern Mariana Islands  2024  NaN
438              New Caledonia  2024  NaN
454                      Palau  2024  NaN
459  Korea, Dem. People's Rep.  2024  NaN
465           French Polynesia  2024  NaN
478                 San Marino  2024  NaN
482                South Sudan  2024  NaN
493       Syrian Arab Republic  2024  NaN
505                      Tonga  2024  NaN
511                     Tuvalu  2024  NaN
520              Venezuela, RB  2024  NaN
521     British Virgin Islands  2024  NaN
522      Virgin Islands (U.S.)  2024  NaN
528                Yemen, Rep.  2024  NaN

In [45]:
gdp_long[gdp_long['GDP'].isnull()][['country', 'year']].head()

           country  year
11  American Samoa  2023
50            Cuba  2023
69         Eritrea  2023
72        Ethiopia  2023
84       Gibraltar  2023

In [47]:
gdp_long = gdp_long.dropna(subset=['GDP'])

In [49]:
gdp_long.isnull().sum().sum()

0

In [51]:
merged_df1 = pd.merge(
    gdp_long,
    df1,
    on=['country', 'year'],
    how='inner'
)

In [53]:
merged_df1

,country,year,GDP,industry,ai_tool,adoption_rate,daily_active_users,user_feedback,age_group,company_size
0,Australia,2023,1.728057e+12,Education,ChatGPT,20.85,5940,MCVWNxfkdvijPwFleHKDKJTIexXAzweDWyBGDQVcOrfAsn...,25-34,Enterprise
1,Australia,2023,1.728057e+12,Technology,ChatGPT,96.13,4229,AlrUPwGubsyQ IgICwjGhyzQJQQQCyRAvqLagvoyj qVpv...,18-24,Enterprise
2,Australia,2023,1.728057e+12,Retail,Midjourney,54.92,9104,rgZEugCqGIhFTzutpApOPFJMazOblynvrUCuGck VlqldP...,25-34,Enterprise
3,Australia,2023,1.728057e+12,Transportation,ChatGPT,73.37,3168,O KnSJFaonG ercdkLgXXGrcfEwVEtjVRfueTuMKnAuYnX...,45-54,Startup
4,Australia,2023,1.728057e+12,Manufacturing,ChatGPT,15.45,424,AUHOCVMpnoeifaRCkDbpUkgETbxjbDTbDggFsHGVTBnug...,35-44,SME
...,...,...,...,...,...,...,...,...,...,...
134782,USA,2024,2.918489e+13,Retail,ChatGPT,66.28,732,NsuoHkVMQIQTyovtEPLMaYeCHgZclAYsfUBeftxq uOGEM...,18-24,SME
134783,USA,2024,2.918489e+13,Manufacturing,ChatGPT,47.34,8899,jOVNbFwntOTJOsdCfLppeAUhkEWBDeWNXhSWyybCqPuPal...,25-34,SME
134784,USA,2024,2.918489e+13,Education,ChatGPT,16.17,1941,itUcsYEzRhfkbUCVcjMvIOtcASGTGaouLCRqUfSLOvUMgn...,18-24,Startup
134785,USA,2024,2.918489e+13,Technology,Stable Diffusion,30.58,8297,nkATfOEMvPzqTMKvSkGFrPRDVnpMsLTM APzaNysPetNik...,18-24,Enterprise
134786,USA,2024,2.918489e+13,Retail,ChatGPT,31.87,2481,IRFOudTsoPrlrKypvToOx llYkLoLqrw EMHOtyAKmqXq...,25-34,Enterprise

In [61]:
merged_df1.isnull().sum().sum()

0

In [59]:
merged_df1.to_csv(r"C:/Personal/Susi/Barcelona_Activa/Project/Cleaned Dataset/ai_adopt_gdp1.csv",index=False)